/* line 10, lemon.css.scss */
html {
  height: 100%; }

/* line 14, lemon.css.scss */
body {
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  background: url(../img/background.jpg) repeat; }

/* line 23, lemon.css.scss */
#content {
  position: relative;
  display: block;
  width: 800px;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  -webkit-box-shadow: #2e3b0b 0 0 50px;
  -moz-box-shadow: #2e3b0b 0 0 50px;
  box-shadow: #2e3b0b 0 0 50px;
  background: #e6e6e0 url(/img/block.png) repeat;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  color: #5c5c3d;
  font-size: 14px; }
  /* line 40, lemon.css.scss */
  #content h1 {
    margin-top: 0px; }

/* line 46, lemon.css.scss */
.post {
  display: block;
  font-size: 14px;
  color: #5c5c3d;
  padding: 0px;
  padding-top: 30px; }
  /* line 55, lemon.css.scss */
  .post ul {
    margin-left: -20px;
    list-style-type: circle; }
  /* line 60, lemon.css.scss */
  .post li {
    min-height: 30px;
    margin: 0px;
    margin-bottom: 5px;
    position: relative; }
  /* line 67, lemon.css.scss */
  .post h2 {
    line-height: 23px;
    color: #5c5c3d;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 15px;
    border-left: 4px solid #efefef; }
  /* line 76, lemon.css.scss */
  .post a {
    color: #65661b;
    text-decoration: none; }
  /* line 81, lemon.css.scss */
  .post a:hover {
    color: #3d3e10;
    background-color: rgba(204, 204, 0, 0.2); }

/* line 95, lemon.css.scss */
#header {
  height: 168px; }

/* Hack for menu */
/* line 100, lemon.css.scss */
#header::after {
  display: block;
  position: relative;
  z-index: 0;
  top: -11px;
  background: #f4f4f4 url(/img/wall4.png);
  height: 25px;
  content: " ";
  -webkit-box-shadow: #888888 0 0 6px;
  -moz-box-shadow: #888888 0 0 6px;
  box-shadow: #888888 0 0 6px; }

/* line 112, lemon.css.scss */
#banner {
  position: relative;
  margin: 0px;
  margin-left: 4px;
  margin-top: 15px;
  z-index: 1; }
  /* line 119, lemon.css.scss */
  #banner a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 755px;
    height: 168px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url(/img/title2.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; }

/* line 127, lemon.css.scss */
#slogan {
  position: absolute;
  top: 0;
  right: 5px;
  display: inline-block;
  width: 72px;
  height: 294px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/img/slogan.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  z-index: 3; }

/* line 139, lemon.css.scss */
#menu {
  position: relative;
  top: -11px;
  font-size: 14px;
  line-height: 25px;
  display: block;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 74px; }
  /* line 152, lemon.css.scss */
  #menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 48, ../../../../../../usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li:first-child, #menu li.first {
      padding-left: 0; }
    /* line 49, ../../../../../../usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li:last-child {
      padding-right: 0; }
    /* line 50, ../../../../../../usr/local/Cellar/ruby/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li.last {
      padding-right: 0; }
    /* line 155, lemon.css.scss */
    #menu li a {
      display: inline-block;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
      color: #65661b;
      font-size: 14px;
      text-decoration: none; }
    /* line 166, lemon.css.scss */
    #menu li a:hover {
      color: black;
      background: rgba(178, 179, 0, 0.2); }

/* line 174, lemon.css.scss */
#footer {
  display: block;
  width: 100%;
  padding-top: 100px; }

/* line 180, lemon.css.scss */
#credit {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 30px; }

/* line 188, lemon.css.scss */
#body_container {
  position: relative;
  margin-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px; }
