/* line 14, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
html {
  height: 100%; }

/* line 18, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
body {
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  background: url(../img/background.jpg) repeat; }

/* line 27, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#content {
  position: relative;
  display: block;
  width: 800px;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  border: 1px #666633 solid;
  border-top: 0px;
  -webkit-box-shadow: #2e3b0b 0 0 50px;
  -moz-box-shadow: #2e3b0b 0 0 50px;
  box-shadow: #2e3b0b 0 0 50px;
  background: #e6e6e0 url(/img/block.png) repeat;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  color: #5c5c3d;
  font-size: 14px; }
  /* line 46, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #content h1 {
    margin-top: 0px; }

/* line 52, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
.preload {
  position: absolute;
  left: -9999px;
  dislay: none; }

/* line 58, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#character_menu {
  position: relative;
  width: 800px;
  left: -50px;
  top: -42px;
  margin: 0px;
  font-size: 14px;
  line-height: 45px;
  display: block;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  /* line 77, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #character_menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 0px;
    padding-right: 0px; }
    /* line 48, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #character_menu li:first-child, #character_menu li.first {
      padding-left: 0; }
    /* line 49, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #character_menu li:last-child {
      padding-right: 0; }
    /* line 50, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #character_menu li.last {
      padding-right: 0; }
    /* line 80, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li a {
      display: inline-block;
      height: 100%;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      color: #333333;
      font-size: 14px;
      text-decoration: none;
      background: #cccc00;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      text-shadow: 0px 0px 10px #999900; }
    /* line 93, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li a:hover {
      color: gray;
      background: #ffff33;
      text-shadow: 0px 0px 10px white; }
    /* line 98, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #kong {
      background: url(/img/button/0.png) no-repeat; }
    /* line 101, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #mo {
      background: url(/img/button/1.png) no-repeat; }
    /* line 104, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #chung {
      background: url(/img/button/2.png) no-repeat; }
    /* line 107, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #huei {
      background: url(/img/button/3.png) no-repeat; }
    /* line 110, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #han {
      background: url(/img/button/4.png) no-repeat; }
    /* line 113, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #zo {
      background: url(/img/button/5_x.png) no-repeat; }
    /* line 116, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #other {
      background: url(/img/button/6.png) no-repeat; }
    /* line 119, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #lead {
      background: url(/img/button/6.png) no-repeat; }

/* line 125, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#bigimage {
  position: relative;
  z-index: 1;
  top: -30px;
  width: 800px;
  height: 530px;
  display: block;
  overflow: hidden;
  margin-top: 0px;
  margin-left: -50px;
  margin-bottom: 0px;
  padding-left: 0px; }
  /* line 140, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .visible_div {
    visibility: visible;
    opacity: 1;
    /*transition: visibility 0s 2s, opacity 2s linear;*/
    -webkit-transition-property: opacity, visibility;
    -moz-transition-property: opacity, visibility;
    -o-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s; }
  /* line 147, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .invisible {
    /*no transition. For initial use.*/
    opacity: 0; }
  /* line 152, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .disappear_div {
    opacity: 0;
    visibility: hidden; }
  /* line 156, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .hidden_div {
    opacity: 0;
    visibility: hidden;
    -webkit-transition-property: opacity, visibility;
    -moz-transition-property: opacity, visibility;
    -o-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }
  /* line 164, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .text_div {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px; }
  /* line 170, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage #picframe1, #bigimage #picframe2, #bigimage #frame_lead, #bigimage #frame_other {
    position: absolute;
    margin-top: 0px; }

/* line 176, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
.post {
  display: block;
  font-size: 14px;
  color: #5c5c3d;
  padding: 0px;
  padding-top: 30px; }
  /* line 184, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post .postimage {
    position: relative;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
  /* line 192, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post ul {
    margin-left: -20px;
    list-style-type: circle; }
  /* line 197, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post li {
    min-height: 30px;
    margin: 0px;
    margin-bottom: 5px;
    position: relative; }
  /* line 205, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post h2 {
    line-height: 23px;
    color: #5c5c3d;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 15px;
    border-left: 4px solid #EFEFEF; }
  /* line 214, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post a {
    color: #65661b;
    text-decoration: none; }
  /* line 219, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post a:hover {
    color: #3d3e10;
    background-color: rgba(204, 204, 0, 0.2); }

/* line 233, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#header {
  height: 168px; }

/* Hack for menu */
/* line 238, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#header::after {
  display: block;
  position: relative;
  z-index: 0;
  top: -11px;
  background: #f4f4f4 url(/img/wall4.png);
  height: 25px;
  content: " ";
  -webkit-box-shadow: #888888 0 0 6px;
  -moz-box-shadow: #888888 0 0 6px;
  box-shadow: #888888 0 0 6px; }

/* line 250, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#banner {
  position: relative;
  margin: 0px;
  margin-left: 4px;
  margin-top: 15px;
  z-index: 1; }
  /* line 257, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #banner a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 755px;
    height: 168px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url(/img/title2.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; }

/* line 265, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#slogan {
  position: absolute;
  top: 0;
  right: 5px;
  display: inline-block;
  width: 72px;
  height: 294px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/img/slogan.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  z-index: 100; }

/* line 277, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#menu {
  position: relative;
  top: -11px;
  font-size: 14px;
  line-height: 25px;
  display: block;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 74px; }
  /* line 290, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 48, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li:first-child, #menu li.first {
      padding-left: 0; }
    /* line 49, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li:last-child {
      padding-right: 0; }
    /* line 50, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li.last {
      padding-right: 0; }
    /* line 293, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #menu li a {
      display: inline-block;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
      color: #65661b;
      font-size: 14px;
      text-decoration: none; }
    /* line 304, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #menu li a:hover {
      color: black;
      background: rgba(178, 179, 0, 0.2); }

/* line 312, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#footer {
  display: block;
  width: 100%;
  padding-top: 100px; }

/* line 318, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#histats {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 70px; }

/* line 326, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#credit {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 30px; }

/* line 334, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#disqus_thread {
  margin-top: 50px; }

/* line 338, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#body_container {
  position: relative;
  margin-top: -11px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px; }
