/* ===== for Title ===== */
/*
$img_title:"title3.png";
$bg_size: 95%;
$dx_title: -55px;
$dy_title: 0px;
$head_overlap: 30px;
*/
/* ===== for Background img ===== */
/*
$bg_body: url(../img/pat/gold_red.jpg);
$bg_body: url(../img/pat/pattern_b2.jpg);
$bg_body: url(../img/background.jpg);
*/
/* ===== for edges of content ===== */
/*
$color_border: #666633;
$shadow_color: rgb(102, 51, 51);
*/
/* ===== for menu ===== */
/* ===== for character.html.md ====== */
/* line 67, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
html {
  height: 100%; }

/* line 71, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
body {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 0px;
  height: 100%;
  background: url(../img/background.jpg) repeat; }

/* line 80, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#content {
  position: relative;
  display: block;
  width: 850px;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  border: 1px #eeeeee solid;
  border-top: 0px;
  -webkit-box-shadow: #2e3b0b 0 0 50px;
  -moz-box-shadow: #2e3b0b 0 0 50px;
  box-shadow: #2e3b0b 0 0 50px;
  background: #e6e6e0 url(/img/block.png) repeat;
  background-color: #eee;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  color: #5c5c3d;
  font-size: 14px; }
  /* line 100, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #content h1 {
    margin-top: 0px; }

/* line 106, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
.preload {
  position: absolute;
  left: -9999px;
  dislay: none; }

/* line 112, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#character_menu {
  position: relative;
  width: 850px;
  left: -50px;
  top: -22px;
  margin: 0px;
  font-size: 14px;
  line-height: 47px;
  display: block;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  /* line 132, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #character_menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 0px;
    padding-right: 0px; }
    /* line 48, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #character_menu li:first-child, #character_menu li.first {
      padding-left: 0; }
    /* line 49, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #character_menu li:last-child {
      padding-right: 0; }
    /* line 50, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #character_menu li.last {
      padding-right: 0; }
    /* line 135, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li a {
      display: inline-block;
      height: 100%;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      color: #333333;
      font-size: 14px;
      text-decoration: none;
      background: #cccc00;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      text-shadow: 0px 0px 10px #999900; }
    /* line 148, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li a:hover {
      color: gray;
      background: #ffff33;
      text-shadow: 0px 0px 10px white; }
    /* line 153, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #kong {
      background: url(/img/button/0.png) no-repeat; }
    /* line 156, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #mo {
      background: url(/img/button/1.png) no-repeat; }
    /* line 159, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #chung {
      background: url(/img/button/2.png) no-repeat; }
    /* line 162, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #huei {
      background: url(/img/button/3.png) no-repeat; }
    /* line 165, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #han {
      background: url(/img/button/4.png) no-repeat; }
    /* line 168, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #zo {
      background: url(/img/button/5_x.png) no-repeat; }
    /* line 171, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #other {
      background: url(/img/button/6.png) no-repeat; }
    /* line 174, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #character_menu li #lead {
      background: url(/img/button/6.png) no-repeat; }

/* line 180, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#bigimage {
  background-color: #000;
  color: #bcb5a0;
  position: relative;
  z-index: 1;
  top: -20px;
  width: 827px;
  height: 530px;
  display: block;
  overflow: hidden;
  margin-top: 0px;
  /*$offset: $content_width/2-400;*/
  margin-left: -51px;
  margin-bottom: 0px;
  padding-left: 25px; }
  /* line 198, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage h2 {
    color: #bcb5a0; }
  /* line 201, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .visible_div {
    visibility: visible;
    opacity: 1;
    /*transition: visibility 0s 2s, opacity 2s linear;*/
    -webkit-transition-property: opacity, visibility;
    -moz-transition-property: opacity, visibility;
    -o-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s; }
  /* line 208, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .invisible {
    /*no transition. For initial use.*/
    opacity: 0; }
  /* line 213, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .disappear_div {
    opacity: 0;
    visibility: hidden; }
  /* line 217, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .hidden_div {
    opacity: 0;
    visibility: hidden;
    -webkit-transition-property: opacity, visibility;
    -moz-transition-property: opacity, visibility;
    -o-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }
  /* line 225, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage .text_div {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px; }
  /* line 231, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #bigimage #picframe1, #bigimage #picframe2, #bigimage #frame_lead, #bigimage #frame_other {
    position: absolute;
    margin-top: 0px; }

/* line 237, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
.post {
  display: block;
  font-size: 14px;
  color: #5c5c3d;
  padding: 0px;
  padding-top: 20px; }
  /* line 245, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post .postimage {
    position: relative;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
  /* line 253, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post ul {
    margin-left: -20px;
    list-style-type: circle; }
  /* line 258, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post li {
    min-height: 30px;
    margin: 0px;
    margin-bottom: 5px;
    position: relative; }
  /* line 266, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post h2 {
    line-height: 23px;
    color: #5c5c3d;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 15px;
    border-left: 4px solid #F8F8F8; }
  /* line 275, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post a {
    color: #65661b;
    text-decoration: underline; }
  /* line 280, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  .post a:hover {
    color: #3d3e10;
    background-color: rgba(204, 204, 0, 0.2); }

/* line 287, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#header {
  height: 168px; }

/* Hack for menu */
/* line 292, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#header::after {
  display: block;
  position: relative;
  z-index: 0;
  top: -11px;
  background: #f4f4f4 url(/img/wall4.png);
  height: 35px;
  content: " ";
  -webkit-box-shadow: #888888 0 0 6px;
  -moz-box-shadow: #888888 0 0 6px;
  box-shadow: #888888 0 0 6px; }

/* line 304, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#banner {
  position: relative;
  margin: 0px;
  margin-left: 0px;
  margin-top: 10px;
  z-index: 1; }
  /* line 312, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #banner div:child {
    opacity: 1; }
  /* line 316, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #banner a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 755px;
    height: 168px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url("/img/title2.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    padding: 0px;
    margin-left: 15px; }

/* line 328, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#slogan {
  position: absolute;
  top: 0;
  right: 5px;
  display: inline-block;
  width: 72px;
  height: 294px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/img/slogan2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  z-index: 100; }

/* line 344, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#slogan_r {
  float: left;
  position: relative;
  left: 40%;
  /*margin-left: 0 - image-width("slogan_row.png") * $ratio / 2;*/
  width: 80%; }

/* line 354, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#menu {
  position: relative;
  top: -11px;
  font-size: 14px;
  line-height: 35px;
  display: block;
  z-index: 5;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 90px; }
  /* line 366, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
  #menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: -1px;
    padding-right: -1px; }
    /* line 48, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li:first-child, #menu li.first {
      padding-left: 0; }
    /* line 49, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li:last-child {
      padding-right: 0; }
    /* line 50, /usr/local/Cellar/ruby/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
    #menu li.last {
      padding-right: 0; }
    /* line 369, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #menu li a {
      display: inline-block;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      color: #65661b;
      font-size: 14px;
      text-decoration: none; }
    /* line 380, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
    #menu li a:hover {
      color: black;
      background: rgba(178, 179, 0, 0.2); }

/* line 388, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#footer {
  display: block;
  width: 100%;
  padding-top: 100px; }

/* line 394, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#histats {
  display: block;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 15px;
  /*position: absolute;
  text-align: center;
  bottom: 0px;*/ }

/* line 404, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#credit {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 20px;
  padding-top: 20px; }

/* line 413, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#copyright {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 422, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
img.sticker {
  height: 33px;
  padding-top: 8px; }

/* line 427, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#disqus_thread {
  margin-top: 50px; }

/* line 431, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#body_container {
  position: relative;
  margin-top: -11px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px; }

/* FOR MUSIC */
/* line 442, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
.musicbox {
  display: block;
  width: 100%;
  height: 50px; }

/* line 448, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
.musicbox_element {
  display: float;
  float: left;
  margin-right: 10px; }

/* line 454, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
.music_download_button {
  display: block;
  width: 40px;
  background-color: #3d3d3d;
  height: 25px;
  border: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #eee;
  text-align: center;
  padding-top: 5px; }

/* line 466, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
a.button_link {
  text-decoration: none;
  color: #eee; }

/* line 470, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
a:hover.button_link {
  text-decoration: none;
  color: #eee;
  background-color: transparent; }

/* FOR INDEX */
/* line 477, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#index_box {
  display: block;
  width: 100%;
  overflow: auto;
  height: 100%;
  margin-top: 50px;
  padding-top: 0px;
  /*border-top: 1px dashed #9e9576;*/ }

/* line 487, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#index_box #left {
  display: float;
  float: left;
  width: 480px;
  padding-right: 20px;
  margin-right: 0px;
  /*border-right: 1px dashed #9e9576;*/ }

/* line 496, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#index_box #right {
  display: float;
  float: right;
  width: 180px;
  padding-left: 15px;
  padding-bottom: 30px;
  padding-top: 0px;
  overflow: hidden;
  border-left: 1px dashed #9e9576; }

/* line 509, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#index_box #right .right_obj {
  padding: 0px; }

/* line 512, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#index_box #right #histats, #index_box #right .right_box {
  margin-top: 0px; }

/* line 515, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#index_box #right .right_box h2 {
  padding-left: 15px;
  border: 0px;
  border-left: 5px solid #9e9576; }

/* line 521, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#index_box #right .right_box:first-child h2:first-child {
  margin-top: 0px; }

/* line 524, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#index_box #left h2:first-child {
  margin-top: 0px; }

/* line 529, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#histats {
  padding-top: 50px;
  padding-left: 0px;
  margin-bottom: 0px; }

/* line 536, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#claim {
  display: block;
  text-align: center;
  width: 100%;
  padding-bottom: 50px; }

/* line 543, /Users/sffish/Desktop/Lemon/source/css/lemon.css.scss */
#placard {
  width: 100%;
  padding: 0px;
  margin-top: -10px;
  margin-left: 60px; }
